# Read Here: https://www.compassvpn.org/installation/configuration/

ALLOY_REMOTE_WRITE_URL=
ALLOY_REMOTE_WRITE_USER=
ALLOY_REMOTE_WRITE_PASSWORD=

# name of the donor - will appear in all metrics as a label
DONOR=compass

REDEPLOY_INTERVAL=

CF_API_TOKEN=
CF_ZONE_ID=
CF_CLEAN_IP_DOMAIN=

XRAY_OUTBOUND=direct

# Append :<count> to create replicas via path-based routing, e.g.: vless-hu-tls-cdn:3
XRAY_INBOUNDS=vless-tcp-tls-direct,vless-hu-tls-direct,vless-xhttp-quic-direct 

SSL_PROVIDER=letsencrypt

AUTO_UPDATE=off

NGINX_PATH=compass

NGINX_FAKE_WEBSITE=www.divar.ir

CUSTOM_DNS=controld

# true = verbose logging across all containers, plus xray DNS-query logging and
# a debug.log file. Use true/false.
DEBUG=false
