# Read Here: https://www.compassvpn.org/installation/configuration/

# Metric push method - pushgateway or grafana_agent
METRIC_PUSH_METHOD=grafana_agent

# METRIC_PUSH_METHOD: grafana_agent
GRAFANA_AGENT_REMOTE_WRITE_URL=
GRAFANA_AGENT_REMOTE_WRITE_USER=
GRAFANA_AGENT_REMOTE_WRITE_PASSWORD=

# METRIC_PUSH_METHOD: pushgateway
PUSHGATEWAY_URL=
PUSHGATEWAY_AUTH_USER=
PUSHGATEWAY_AUTH_PASSWORD=

# name of the donor - will appear in all metrics as a label
DONOR=compass

REDEPLOY_INTERVAL=

CF_API_TOKEN=
CF_ZONE_ID=
CF_CLEAN_IP_DOMAIN=

XRAY_OUTBOUND=direct

# Append :<count> to create replicas via path-based routing, e.g.: vless-hu-tls-cdn:3
XRAY_INBOUNDS=vless-tcp-tls-direct,vless-hu-tls-direct,vless-xhttp-quic-direct 

SSL_PROVIDER=letsencrypt

AUTO_UPDATE=off

NGINX_PATH=compass

NGINX_FAKE_WEBSITE=www.divar.ir

CUSTOM_DNS=controld

DEBUG=false
